<header>
  <div class="header">
    <div class="header__title">
      家計簿アプリ
    </div>
  </div>
</header>

<div class="contents">
  <div class="top-content">
    <div class="balance_payment">
      <div class="balance_payment__total">
        収　支：<%= @balance_payment.to_s(:delimited) %>円
      </div>
      <div class="balance_payment__income">
        総収入：<%= @total_income_amount.to_s(:delimited) %>円
      </div>
      <div class="balance_payment__expense">
        総支出：<%= @total_expense_amount.to_s(:delimited) %>円
      </div>
    </div>
  </div>
  <div class="detail-content">
    <div class="income-detail">
      <ul class="income-detail__btn">
        <li><%= link_to "収入詳細", incomes_path %></li>
      </ul>
    </div>
    <div class="expense-detail">
      <ul  class="expense-detail__btn">
        <li><%= link_to "支出詳細", expenses_path %></li>
      </ul>
    </div>
  </div>
  <div class="input-content">
    <div class="input-income">
      <ul class="input-income__btn">
        <li><%= link_to "収入登録", new_income_path %></li>
      </ul>
    </div>
    <div class="input-expense">
      <ul class="input-expense__btn">
        <li><%= link_to "支出登録", new_expense_path %></li>
      </ul>
    </div>
  </div>
</div>