<div class="devise">
  <div class="devise-box">
    <h2 class="devise-box--form--content">新規登録</h2>
    <div class="devise-box--form">
      <div class="devise-box--form--content">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <h3>名前</h3>
            <%= f.text_field :nickname, autofocus: true, class: "form-box" %>
          </div>

          <div class="field">
            <h3>Eメール</h3>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-box" %>
          </div>

          <div class="field">
            <h3>
              <% if @minimum_password_length %>
              <em>パスワード(<%= @minimum_password_length %> 文字以上)</em>
              <% end %>
          </h3>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-box" %>
          </div>

          <div class="field">
            <h3>確認用パスワード</h3>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-box" %>
          </div>

          <div class="actions">
            <%= f.submit "新規登録" %>
          </div>
        <% end %>
          <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>