<% if @incomes.present? %><table>
  <thead>
    <tr>
      <th>日時</th>
      <th>項目</th>
      <th>金額</th>
      <th>操作</th>
    </tr>
  </thead> 
  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.income_date%></td>
        <td><%= income.income_name%></td>
        <td><%= income.income_amount%></td>
        <td>
          <%= link_to "編集", edit_income_path(income.id) %>
          <%= link_to "削除", income_path(income.id), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
<% else %>
  <p>登録されている収入はありません</p>
<% end %>
<div class="total_income_amount">
  合計収入金額:<%= @total_income_amount %>円
</div>
<%= link_to "トップページ", root_path %>
