<div class="devise">
  <div class="devise-box">
    <h2 class="devise-box--title">ログイン</h2>
    <div class="devise-box--form">
      <div class="devise-box--form--content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <h3>メール</h3>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-box" %>
          </div>
          <div class="field">
            <h3>パスワード</h3>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-box" %>
          </div>

          <div class="actions">
            <%= f.submit "ログイン" %>
          </div>
        <% end %>
          <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>