<div class="quote">
  <div class="title">
    word of wisdom
  </div>
  <% if @wisdoms.present? %>
    <div class="form">
      <%= form_with(url: wisdoms_searches_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>

    <table>
      <thead>
        <tr>
          <th>内容</th>
          <th>著者</th>
          <th>操作</th>
        </tr>
      </thead> 
      <tbody>
        <% @wisdoms.each do |wisdom| %>
          <tr>
            <td><%= wisdom.word %></td>
            <td><%= wisdom.author %></td>
            <td>
              <%= link_to "編集", edit_wisdom_path(wisdom.id) %>
              <%= link_to "削除", wisdom_path(wisdom.id), method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>登録しましょう！！！</p>
  <% end %>

<%= paginate(@wisdoms)%>

  <div class="content-link">
    <div class="content-link__bottom">
      <%= link_to "トップページ", root_path %> 
    </div>
    <div class="content-link__bottom">
      <%= link_to "入力", new_wisdom_path %> 
    </div>
  </div>
</div>