<%= form_with model: @expense do |form|%>
  <%= form.text_field :expense_name, placeholder: :名前を入力してください, class: :form__name%>
  <%= form.text_field :expense_amount, placeholder: :金額を入力してください, class: :form__amount%>
  <%= form.date_select :expense_date, {use_month_numbers:true}, {class: :form__date} %>
  <%= form.submit value="登録", class: :form__btn %>
<% end %>
<div class="registration__link">
  <%= link_to "トップページ", root_path %> 
</div>
<div class="registration__link">
  <%= link_to "支出詳細", expenses_path %>
</div>